# Common role handlers
---

- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: true

- name: Restart Docker
  ansible.builtin.systemd:
    name: docker
    state: restarted
  when: docker_check.rc == 0 or docker_verify is defined

- name: Restart containerd
  ansible.builtin.systemd:
    name: containerd
    state: restarted
